@media (min-width: 700px) and (max-width: 1299px) {
    .dinolabsIDESettingsContainer {
       width: 100% !important; 
       height: 100% !important; 
       position: relative; 
    } 
   
    .dinolabsIDESettingsCloseButton {
       position: absolute; 
       top: 1vw; 
       right: 2vw; 
       font-size: 0.8vw; 
       font-weight: 700; 
       color: #c0c0c0; 
       background-color: rgba(255,255,255,0.1);
       padding: 0.6vw 1vw; 
       display: flex; 
       justify-content: center;
       align-items: center;
       box-sizing: border-box;
       gap: 0.6vw; 
       outline: none; 
       border: none; 
       border-radius: 0.2rem;
       box-shadow: 0 0 4px black; 
       cursor: pointer;
       transition: transform 0.3s ease, opacity 0.3s ease; 
    }
   
    .dinolabsIDESettingsCloseButton svg {
       font-size: 0.7vw;
       padding: 0; 
    }
   
    .dinolabsIDESettingsCloseButton:hover {
       transform: scale(1.1);
       border: none; 
       outline: none; 
       background-color: #E54B4B;
    }
   
    .dinolabsIDESettingsCloseButton:focus {
       border: none; 
       outline: none; 
    }
       
   }
   
   