.dinolabsIDEPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  height: 100vh;

}

@media (min-width: 1700px) and (max-width: 2099px) {
  .dinolabsIDEHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 8vh) !important;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 1300px) and (max-width: 1699px) {
  .dinolabsIDEHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 10vh) !important;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 700px) and (max-width: 1299px) {
  .dinolabsIDEHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh - 8vh) !important;
    overflow: hidden;
    position: relative;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .dinolabsIDEHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 8vh) !important;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 499px) {
  .dinolabsIDEHeaderContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 6vh) !important;
    overflow: hidden;
    position: relative;
    padding-bottom: 6vh;
  }
}

@media (min-width: 700px) and (max-width: 1299px) {
  .codeLineInput::-webkit-scrollbar {
    display: none;
  }

  .codeHighlighting::-webkit-scrollbar {
    display: none;
    pointer-events: none;
  }

  .lineNumberMargin {
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 7vw;
    max-width: 7vw;
    position: relative;
    background-color: #2e2e2e;
    color: #858585;
    text-align: right;
    user-select: none;
    box-sizing: border-box;
    font-size: 1vw; 
    font-weight: 600; 
    font-family: monospace; 
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
    padding: 0; 
    margin: 0; 
  }

  .codeEditorContent {
    width: calc(100% - 7vw); 
    background-color: #1e1e1e;
    color: #d4d4d4;
    overflow: hidden;
  }

  .searchResultLine {
    background-color: rgba(255, 255, 0, 0.3);
  }

  .collapsedIndicator {
    color: #c0c0c0;
    font-style: italic;
  }
}

@media (min-width: 700px) and (max-width: 1299px) {
  .dinolabsIDEControlFlex {
    height: calc(100vh - 10vh);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .dinolabsIDEControlStack {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #191919;
    box-sizing: border-box;
  }

  .dinolabsIDEMarkdownWrapper {
    width: 100%;
    background-color: #1e1e1e;
    border-top: 0.2vh solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.2);
    overflow: auto;
    box-sizing: border-box;
    display: flex; 
    position: relative; 
  }

  .dinolabsIDEMarkdownPaneWrapper {
    position: relative; 
    display: flex; 
    flex-direction: column;
    border: none; 
  }

  .dinolabsIDEMarkdownPaneFlex {
    flex: 1; 
    position: relative; 
  }

  .dinolabsIDEMarkdownPane {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
  }

  .resizableWidthDivider {
    width: 0.2vh;
    cursor: col-resize;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
  }

  .resizablePaneDivider {
    width: 0.2vh;
    cursor: col-resize;
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
  }

  .topIDEControlBarWrapper {
    display: flex;
    overflow: scroll;
    height: 5%;
  }

  .topIDEControlBar,
  .bottomIDEControlBar {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: black;
    overflow: scroll;
  }

  .dinolabsIDETabItem {
    height: 100%;
    padding: 1vw 1vw;
    box-sizing: border-box;
    font-size: 0.8vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: 0.2vh solid rgba(255, 255, 255, 0.2);
    border-top: 0.2vh solid rgba(255, 255, 255, 0.2);
    color: #c0c0c0;
    background-color: rgba(255, 255, 255, 0.05);
    white-space: nowrap;
  }

  .dinolabsIDETabItem svg {
    font-size: 0.7vw;
    margin-right: 0.4vw;

  }

  .dinolabsIDETabItem.activeTab {
    background-color: rgba(173, 106, 221, 0.4);
    color: #f5f5f5;
  }

  .dinolabsIDETabItem.unsavedTab {
    background-color: rgba(215, 186, 125, 0.1);
  }
  
  .dinolabsIDETabItem.activeUnsavedTab {
    background-color: rgba(215, 186, 125, 0.1);
    background-color: rgba(184, 154, 91, 0.2);
    color: #D7BA7D !important; 
  }

  .dinolabsIDEFileUnsaved {
    color: #D7BA7D !important;  
    font-weight: bolder !important;
  }

  .dinolabsIDEFileUnsavedDot {
    display: inline-block;
    width: 0.5vw;
    height: 0.5vw;
    background-color: #D7BA7D;
    border-radius: 50%;
    margin-right: 0.8vw;
  }

  .dinolabsIDEFileIcon {
    height: 0.9vw; 
    margin-right: 0.4vw; 
  }

  .dinolabsIDETabItem:hover {
    opacity: 0.6;
  }

  .dinolabsIDECloseTab {
    font-size: 0.8vw;
    color: #c0c0c0;
    margin-left: 2vw;
  }

  .leadingIDEDirectoryStack {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #191919;
    box-sizing: border-box;
  }

  .leadingDirectoryStack {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90%;
    border: 0.2vh solid rgba(255, 255, 255, 0.2);
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    position: relative;
  }

  .leadingDirectoryZoomButtonFlex,
  .leadingDirectorySettingsButtonFlex {
    height: 100%;
    padding: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: rgba(255, 255, 255, 0.03);
  }

  .draggableConsoleDivider {
    width: 100%;
    height: 0.2vh;
    background-color: rgba(80, 80, 80, 1);
    cursor: row-resize;
    box-sizing: border-box;
}

  .leadingDirectoryZoomButton {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 0.8vw;
    color: #c0c0c0;
    opacity: 0.8;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .leadingDirectoryZoomButton:hover {
    opacity: 0.6;
    outline: none;
    border: none;
    transform: scale(1.1);
  }


  .leadingDirectoryZoomButton:focus {
    opacity: 1.0;
    outline: none;
    border: none;
  }

  .leadingdDirectoryOperationsWrapper {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.04);
    overflow: scroll;
    padding: 0.4vw 0;
    box-sizing: border-box;
  }

  .leadingDirectoryButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
    gap: 0.6vw;
    color: #c0c0c0;
    font-size: 0.8vw;
    margin-left: 1.5vw;
    border: none;
    outline: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .leadingDirectoryButton:hover {
    opacity: 0.6;
    border: none;
    outline: none;
    transform: scale(1.1);
  }

  .leadingDirectoryButton:focus {
    border: none;
    outline: none;
  }

  .leadingDirectoryTopBar,
  .leadingDirectoryBottomBar {
    background-color: black;
    height: 5%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: scroll;
  }

  .leadingDirectoryTopBar {
    justify-content: space-between;
  }

  .leadingDirectoryBottomBar {
    justify-content: space-between;
  }

  .leadingDirectoryTabsWrapper {
    width: 100%; 
    height: 5%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.04);
  }

  .leadingDirectoryTabButton {
    width: 50%; 
    height: 100%; 
    padding: 0; 
    background-color: rgba(255,255,255,0.0);
    outline: none; 
    border: none;
    border-radius: 0;
    font-size: 0.7vw; 
    font-weight: 600;
    color: #c0c0c0; 
    cursor: pointer; 
  }

  .leadingDirectoryTabButton:hover {
    background-color: rgba(255,255,255,0.1);
    outline: none; 
    border: none; 
  }

  .leadingDirectoryTabButton:focus {
    outline: none; 
    border: none; 
  }

  .leadingDirectorySearchWrapper, 
  .leadingDirectoryGlobalSearchWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.04);
    overflow: scroll;
    box-sizing: border-box;
  }

  .leadingDirectorySearchWrapper {
    height: 10%; 
  }

  .leadingDirectoryGlobalSearchWrapper {
    height: 20%;
    justify-content: space-between;
  }

  .leadingDirectoryGlobalSearchFlex {
    width: 90%;
    height: 46%;  
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
  }

  .leadingDirectoryGlobalSearchInput {
    font-size: 0.8vw;
    font-weight: 500;
    border: 0.2vh solid rgba(255, 255, 255, 0.1);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem; 
    width: 75%;
    height: 70%; 
    padding: 0;
    box-sizing: border-box;
    text-indent: 1vw;
    color: #c0c0c0;
    outline: none;
    cursor: pointer;
    background-color: rgba(255,255,255,0.01);
  }

  .leadingDirectoryGlobalSearchTrailingButtons {
    width: 25%; 
    height: 70%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.05);
    border: 0.2vh solid rgba(255, 255, 255, 0.1);
    border-left: none;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; 
    gap: 0.8vw; 
  }

  .leadingDirectoryGlobalSearchButton {
    background-color: rgba(255,255,255,0.0);
    padding: 0; 
    font-size: 0.7vw; 
    font-weight: 800; 
    color: #c0c0c0; 
    border: none; 
    outline: none; 
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .leadingDirectoryGlobalSearchButton:hover {
    border: none; 
    outline: none; 
    transform: scale(1.1);  
  }

  .leadingDirectoryGlobalSearchButton:focus {
    border: none; 
    outline: none;
  }

  .directorySearchInput {
    font-size: 0.8vw;
    font-weight: 500;
    border: 0.2vh solid rgba(255, 255, 255, 0.1);
    border-radius: 0.2rem;
    width: 95%;
    height: 60%;
    padding: 0;
    box-sizing: border-box;
    text-indent: 1vw;
    color: #c0c0c0;
    outline: none;
    cursor: pointer;
  }

  .directorySearchInput:hover {
    opacity: 0.6;
    outline: none;
  }

  .directorySearchInput:focus {
    opacity: 1.0;
    outline: none;
  }

  .leadingDirectoryFiles, 
  .leadingDirectoryGlobalSearchResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    overflow: scroll;
  }

  .leadingDirectoryFiles {
    height: 60%; 
    padding: 0.4vw 0 1vw 0; ; 
  }

  .leadingDirectoryGlobalSearchResults {
    height: 50%; 
  }

  .leadingDirectoryGlobalSearchResultsGrouped {
    border-right: none;
    border-left: none;
    list-style: none;
    padding: 0.2vw 0.6vw;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: scroll;
  
  }

  .leadingDirectoryGlobalFileGroup {
    width: auto; 
    height: auto; 
  }

  .leadingDirectoryGlobalSearchResultFileHeader {
    font-size: 0.8vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    padding-left: 0.4vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-right: 1vw;
  }

  .leadingDirectoryGlobalSearchResultFileHeader:hover {
    background-color: rgba(255,255,255,0.2);
  }

  .leadingDirectoryGlobalSearchChevron {
    font-size: 0.7vw; 
    margin-right: 0.6vw; 
  }

  .leadingDirectoryGlobalSearchResultNestedGroup {
    list-style: none;
    padding-left: 1.2vw;
    padding-top: 0.2vw;
    margin: 0;
    width: 100%;
    overflow: scroll;
    box-sizing: border-box;
    position: relative;
  }

  .leadingDirectoryGlobalSearchResultItem {
    cursor: pointer; 
    font-size: 0.7vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    padding-left: 0.4vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-right: 1vw;
    overflow: scroll; 
  }

  .leadingDirectoryGlobalSearchResultItem strong {
    margin-right: 0.4vw; 
  }

  .leadingDirectoryGlobalSearchResultItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .leadingDirectoryFileStack, 
  .leadingDirectorySearchResultStack {
    border-right: none;
    border-left: none;
    list-style: none;
    padding: 0.2vw 0.6vw;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: scroll;
  }

  .leadingDirectoryFileStackContent {
    list-style: none;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
  }

  .nestedDirectoryFileStack {
    list-style: none;
    padding-left: 1.2vw;
    padding-top: 0.2vw;
    margin: 0;
    width: 100%;
    overflow: scroll;
    box-sizing: border-box;
    position: relative;
  }

  .directoryListItem {
    font-size: 0.8vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    padding-left: 0.4vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-right: 1vw;
    overflow: scroll;
  }

  .leadingDirectoryFileStackContent>.directoryListItem::before {
    display: none;
  }

  .directoryListItem svg {
    font-size: 0.8vw;
    margin-right: 0.6vw;
  }

  .directoryListItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .directoryListNestedFiles {
    font-size: 0.8vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    padding-left: 1vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-right: 1vw;
  }

  .directoryListCaret {
    margin-right: 0.4vw;
    font-size: 0.8vw;
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    color: white;
  }

  .driectoryListNestedFiles {
    list-style-type: none;
    margin: 0;
    padding-left: 1.2vw;
    position: relative;
  }

  .driectoryListNestedFiles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.65vw;
    bottom: 0;
    width: 0.04vw;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 700px) and (max-width: 1299px) {
  .codeEditorLanguageIndicator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #c0c0c0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1vw;
    background-color: #191919;
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.1);
    border-left: 0.2vh solid rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 0.2rem;
    width: auto;
    z-index: 600;
    box-shadow: 0 0 8px black;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .codeEditorSearchButtonFlex {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    gap: 1vw;
  }
  .codeEditorLanguageText {
    font-size: 0.8vw;
    font-weight: 500;
    color: #c0c0c0;
    padding: 0.4vw;
    margin-right: 4vw;
    text-align: center;
    display: flex; 
    align-items: center;
  }
  
  .codeEditorLanguageText strong {
    margin-left: 0.4vw;
    font-size: 1vw;
    font-weight: 700;
  }
  
  .codeEditorLanguageText img.language-icon,
  .codeEditorLanguageText svg.language-icon {
    max-height: 1.2vw; 
    padding: 0; 
    width: auto;
    margin-right: 0.4vw;
  }
  

  .codeEditorLanguageFlex, 
  .codeEditorLanguageFlexSupplement {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%; 
  }

  .codeEditorLanguageFlexSupplement {
    margin-bottom: 1vw;
  }

  .codeEditorSearchButton {
    font-size: 0.9vw;
    color: #c0c0c0;
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    outline: none;
    padding: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .codeEditorSearchButton:hover {
    opacity: 0.6;
    border: none;
    outline: none;
    transform: scale(1.1);
  }

  .codeEditorSearchButton:focus {
    opacity: 1.0;
    border: none;
    outline: none;
  }


  .codeEditorSearchOperationsButtonWrapperMini {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 0;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border: 0.2vh solid rgba(255, 255, 255, 0.2);
    border-left: none;
    box-sizing: border-box;
    padding: 0 0.4vw;
  }

  .codeEditorSearchBox {
    width: 65%;
    padding: 0.6vw 0.8vw;
    font-size: 0.8vw;
    color: #c0c0c0;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.2vh solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    outline: none;
  }

  .codeEditorSearchBox:hover {
    opacity: 0.6;
    outline: none;
  }

  .codeEditorSearchBox:focus {
    opacity: 1.0;
    outline: none;
  }

  .codeEditorSearchOperationsButton {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 0.7vw;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border: none;
    outline: none;
  }

  .codeEditorSearchOperationsButton:hover {
    opacity: 0.6;
    border: none;
    outline: none;
  }

  .codeEditorSearchOperationsButton:focus {
    border: none;
    outline: none;
  }

  .codeEditorSearchMatchIndicator {
    font-size: 0.7vw;
    font-weight: 500;
    color: #c0c0c0;
    margin: 0 0.4vw;
    align-self: center;
    white-space: nowrap;
  }

  .codeEditorContainer {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1vw;
    line-height: 24px;
    background-color: #1e1e1e;
    color: #d4d4d4;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .lineNumberContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: monospace;
    padding: 1vw 1vw;
  }

  .lineCaret {
    cursor: pointer;
    color: #c0c0c0; 
    font-size: 0.7vw;
    font-family: monospace;
  }



  .lineNumber {
    color: #c0c0c0;
    font-size: 1vw;
    font-weight: 700;
    width: 100%;
    padding: 0 0.5vw;
    overflow-x: scroll !important;
    text-align: left;   
    background-color: rgba(255, 255, 255, 0.0);
    border-bottom: 0.1vh solid rgba(0,0,0,0.4); 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; 
    font-family: monospace;
    white-space: nowrap
  }

  .lineNumber .collapsedIndicator {
    text-align: right;
    background-color: rgba(255,255,255,0.2); 
    border-bottom: 0.1vh solid rgba(0,0,0,0.4);
    box-sizing: border-box;
    font-family: monospace;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ellipsisCaret {
    color: #c0c0c0;
    font-style: italic;
    user-select: "none";
    cursor: default;
    font-family: monospace; 
  }

  .numberText {
    user-select: none; 
    display: inline-block;
    vertical-align: middle;
    font-family: monospace;
  }

  .lineProblemDot {
    height: 0.5vw; 
    width: 0.5vw; 
    border-radius: 50%; 
    margin-left: 1vw; 
    display: inline-block; 

  }

  .searchHighlight {
    background-color: rgba(255, 255, 0, 0.7);
    color: black;
    white-space: pre;
    display: inline;
    vertical-align: center;
  }
}

@media (min-width: 700px) and (max-width: 1299px) {
  .dinolabsIDENoFileSelectedWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dinolabsIDEGetStartedStack {
    width: 60%;
    height: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .dinolabsIDETitle {
    font-size: 2vw;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
  }

  .dinolabsIDESubtitle {
    font-size: 0.9vw;
    font-weight: 500;
    color: #c0c0c0;
    margin-left: 0.4vw;
    margin-top: 0.2vw;
  }

  .vevktorIDEStartButtonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3vw;
    margin-left: 0.4vw;
  }

  .dinolabsIDEStartButton {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1vw;
    font-weight: 500;
    color: #AD6ADD;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-bottom: 1.6vw;
  }

  .dinolabsIDEStartButton svg {
    font-size: 1.2vw;
    margin-right: 0.8vw;
  }

  .dinolabsIDEStartButton:hover {
    transform: scale(1.1);
    opacity: 0.6;
    border: none;
    outline: none;
  }

  .dinolabsIDEStartButton:focus {
    border: none;
    outline: none;
  }

  .dinolabsIDEUnsupportedWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .dinolabsIDEUnsupportedIcon {
    font-size: 3vw;
    margin-bottom: 1vw;
    color: #AD6ADD;
  }

  .dinolabsIDEUnsupportedMessage {
    font-size: 1vw;
    font-weight: 400;
    color: #c0c0c0;
    opacity: 0.9;
  }

  .dinolabsIDETryToOpenButton {
    font-size: 1vw;
    font-weight: 600;
    color: #AD6ADD;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
    margin-top: 0.4vw;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .dinolabsIDETryToOpenButton:hover {
    opacity: 0.6;
    transform: scale(1.1);
    border: none;
    outline: none;
  }

  .dinolabsIDETryToOpenButton:focus {
    border: none;
    outline: none;
  }
}

@media (min-width: 700px) and (max-width: 1299px) {
  .codeEditorWrapper pre, 
  .codeEditorWrapper textarea {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 13px; 
    padding: 1vw 1vw; 
    white-space: pre; 
    top: 0;
    left: 0;
    margin: 0;
    text-indent: 0; 
    width: 100%; 
    height: 100%; 
    background-color: transparent;
  }

  .codeEditorWrapper textarea {
    color: transparent; 
    caret-color: #FFFFFF;
    z-index: 1; 
  }

  .codeEditorWrapper {
    position: relative; 
    flex: 1; 
    overflow: auto; 
  }

  pre span {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    display: inline;
    background-color: transparent; 
  }

  pre .search-highlight {
    padding: 0;
    margin: 0;
  }

  textarea::selection {
    background: rgba(165, 62, 172, 0.2);
  }
}

@media (min-width: 700px) and (max-width: 1299px) {
  
}


