@media (min-width: 700px) and (max-width: 1299px) {
    .dinolabsIDEAlertOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .dinolabsIDEAlert {
        background-color: #222222; 
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        box-sizing: border-box; 
        padding: 2vw; 
        border: none; 
        border-radius: 0.4rem; 
        box-shadow: 0 0 8px rgba(255,255,255,0.2); 
        min-width: 35%; 
        max-width: 35%; 
    }

    .dinolabsAlertImage {
        min-height: 6vw; 
        max-height: 6vw; 
    }

    .dinolabsAlertHeader {
        font-size: 1.6vw; 
        font-weight: 700; 
        color: #f5f5f5; 
        margin-top: 1vw; 
    }

    .dinolabsAlertSubHeader {
        font-size: 1.1vw; 
        font-weight: 500; 
        color: #f5f5f5; 
        margin-top: 0.4vw;
        opacity: 0.8;  
    }

    .dinolabsIDEAlertButtonsFlex {
       display: flex; 
       justify-content: center;
       align-items: center; 
       padding: 1vw 0; 
       width: 100%; 
       gap: 1vw; 
    }

    .dinolabsIDEAlertButtons {
        width: 30%; 
        padding: 0; 
        padding: 0.6vw; 
        font-size: 1vw; 
        font-weight: 800; 
        color: white; 
        border-radius: 0.2rem; 
        cursor: pointer; 
    }

    .dinolabsIDEAlertButtons:hover {
        opacity: 0.6; 
        border: none; 
        outline: none; 
    }

    .dinolabsIDEAlertButtons:focus {
        opacity: 1.0; 
        border: none; 
        outline: none; 
    }


    .dinolabsIDEAlertInputWrapper {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%; 
        padding: 1vw 0; 
    }
      
    .dinolabsIDEAlertInput.input-text {
        background-color: #191919;
        border: 0.2vh solid #c0c0c0; 
        padding: 1vw; 
        font-size: 0.9vw; 
        font-weight: 700;
        color: #c0c0c0;
        border-radius: 0.2rem; ;
        width: 70%; 
        outline: none; 
    }

    .dinolabsIDEAlertInput.input-text:hover {
        opacity: 0.6; 
        outline: none; 
    }

    .dinolabsIDEAlertInput.input-text:focus {
        opacity: 0.6; 
        outline: none; 
    }


      
}