.resetPageWrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    overflow: scroll; 
    height: 100vh; 
}


@media (min-width: 1700px) {
    .resetCellHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 8vh) !important; 
        overflow: hidden;
        position: relative; 
        overflow: scroll; 
    }
}

@media (min-width: 1300px) and (max-width: 1699px) {
    .resetCellHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 10vh) !important; 
        overflow: hidden;
        position: relative; 
        overflow: scroll; 
    }
}

@media (min-width: 700px) and (max-width: 1299px) {
    .resetCellHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 10vh) !important; 
        overflow: hidden;
        position: relative; 
        overflow: scroll; 
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    .resetCellHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 8vh) !important; 
        overflow: hidden;
        position: relative; 
        overflow: scroll; 
    }
}

@media (max-width: 499px) {
    .resetCellHeaderContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 6vh) !important; 
        overflow: hidden;
        position: relative; 
        overflow: scroll; 
    }
}

.resetTitle {
    font-size: 1.2rem;
    font-weight: 800;  
    color: #f5f5f5;
    opacity: 0.95; 
    text-align: center;
    width: 100%; 
}

.resetSubtitles {
    font-size: 0.6rem;
    font-weight: 400; 
    color: #f5f5f5; 
    opacity: 0.8; 
    margin-top: 0.2rem; 
    text-shadow: 0 0 1.5px rgba(255, 255, 255, 0.8); 
    text-align: center; 
    width: 100%; 
    margin-bottom: 2rem;
}

.resetBlock {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    top: 10%; 
    z-index: 10;
    position: absolute; 
    border-radius: 0.6rem; 
    border: none; 
    height: 20rem; 
    background: linear-gradient(to top, rgba(20, 20, 22, 0.9), rgba(0, 0, 0, 0.9));
}


@media (min-width: 700px) {
    .resetBlock {
        width: 30rem; 
    }
}

@media (max-width: 699px) {
    .resetBlock {
        width: 26rem; 
    }
}
