.leadingIDEDirectoryStack,
.dinolabsIDESettingsContainer,
.dinolabsIDEAlertOverlay,
.dinolabsIDEContextMenu,
.dinolabsIDEEditingSearchBoxWrapper,
.codeEditorLanguageIndicator,
.dinolabsIDETableWrapperContainer,
.dinolabsIDEToolBar,
.dinolabsIDEMediaWrapper {
    -webkit-user-select: text !important;
    user-select: text !important;
    ::selection {
      background: transparent !important;
      color: inherit !important;
    }
    ::-moz-selection {
      background: transparent !important;
      color: inherit !important;
    }
}
